{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xml:lang="pt-br"
	  lang="pt-br">
	<head>

		<title> {% block titulo %} Blog Estag {% endblock %} </title>

		<!-- Descreve tags HTML de meta-definições -->
		{% block meta %} 
		<meta http-equiv="Content-type"
			  content="text/html;
			  charset=utf-8" />
		<meta http-equiv="Content-Language" content="pt-br" />
		<meta name="keywords" 
		      content="Python, Django, blog, Estag" />
		<meta name="description" content="Este é o blog da Suelen." />
		{% endblock meta %}

		<!-- Feeds -->
		<!-- {% block feeds %}
		<link rel="alternate"
			type="application/rss+xml"
			title="Ultimos artigos publicados"
			href="/rss/ultimos/" />
		{% endblock feeds %} -->

		<!-- Estilos -->
		{% block style %}
		<link rel="stylesheet" type="text/css" href="{% static 'meu_blog/css/base.css' %}"/>
		{% endblock style %}

		<!-- JavaScripts -->
		{% block scripts %}
		{% endblock scripts %}

	</head>

	<body>

		<div id="tudo">
			<div id="topo"> 
				{% block topo %}
				<div id="foto">&nbsp;</div>
				Blog Estag
				{% endblock topo %}
			</div>

			<div id="menu">
				{% block menu %}
				{% spaceless %}
				<ul>
					<li><a href="{% url 'index' %}">Página inicial</a></li>
					<li><a href="{% url 'sobre-mim' %}">Sobre mim</a></li>
					<li><a href="{% url 'contato' %}">Contato</a></li>
				</ul>
				{% endspaceless %}
				{% endblock menu %}
			</div>

			<h2>{% block h2 %}{% endblock %}</h2>

			<div class="corpo">
				{% block conteudo %}{% endblock %}
			</div>

			{% include 'meu_blog/rodape.html' %}
		</div>

	</body>
</html>
