{% extends 'meu_blog/base.html' %}
{% load static %}

{% block conteudo %}
<img src="{% static 'meu_blog/images/globo.jpg' %}" alt='Minha imagem'/>
{% if latest %}

	{% for artigo in latest %}

	<div class="artigo">
	    <a href="{% url 'index_artigo' artigo_id=artigo.id %}">
		    <h3>{{ artigo.titulo }}</h3>
		</a>

		<div class="conteudo">
			Publicado há {{ artigo.publicacao|timesince }}. <br/>
			{{ artigo.conteudo }}

		</div>
	</div>

	{% endfor %}
	
{% else %}
	Sem artigos.

{% endif %}
{% endblock %}
