{% load static %}
<!DOCTYPE html>
<html>
<head>

	<title>Blog Estag</title>
	<link rel="stylesheet" type="text/css" href="{% static 'meu_blog/index.css' %}"/> 

</head>
<body>

	<h2>Blog Estag</h2>

	{% if latest %}

		{% for artigo in latest %}

		<div class="artigo">
		    <a href="{% url 'index_artigo' artigo_id=artigo.id %}">
			    <h3>{{ artigo.titulo }}</h3>
			</a>

			<div class="conteudo">
				Publicado há {{ artigo.publicacao|timesince }}. <br/>
				{{ artigo.conteudo }}

			</div>
		</div>

		{% endfor %}
		
	{% else %}
		Sem artigos.

	{% endif %}

	{% include "rodape.html" %}

</body>
</html>
